<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.com.proyect.puntoventa.web.dao.ClientDAO">

	<resultMap id="clientResultMap" type="clientDTO">
		<result property="userId" column="cl_cliente" />
		<result property="name" column="nombre" />
		<result property="firstName" column="ap_paterno" />
		<result property="secondName" column="ap_materno" />
		<result property="tel1" column="tel1" />
		<result property="tel2" column="tel2" />
		<result property="street" column="calle" />
		<result property="delegation" column="delegacion" />
		<result property="addDate" column="fe_alta" />
		<result property="colony" column="colonia" />
		<result property="cp" column="cp" />
		<result property="state" column="estado" />
		<result property="municipality" column="municipio" />
		<result property="city" column="ciudad" />
		<result property="email" column="email" />
		<result property="adress" column="direccion" />		
		<result property="fgActivo" column="status" />	
	</resultMap>

	<select id="findById" resultMap="clientResultMap" parameterType="long">
		select * from c_clientes where id_usuario = #{id}
	</select>	

	<select id="getAll" resultMap="clientResultMap">
		select * from c_usuario; 
	</select>

	<insert id="insertClient" parameterType="clientDTO">
		INSERT INTO c_cliente
		(nombre,ap_paterno,ap_materno,email,tel1,tel2,
<!-- 		calle,delegacion,colonia,cp,municipio,estado,ciudad, -->
		direccion,status)
		VALUES
		(#{name},#{firstName},#{secondName},#{email},#{tel1},#{tel2},
<!-- 		#{street},#{delegation},#{colony},#{cp},#{municipality},#{state},#{city}, -->
		#{adress},#{fgActivo})
	</insert>
	
	<update id="updateCustomer" parameterType="clientDTO">
		UPDATE c_cliente SET
		nombre =#{name},
		ap_paterno = #{firstName},
		ap_materno = #{secondName},
		email =	#{email},
		tel1 = #{tel1},
		tel2 = #{tel2},
		direccion = #{adress}
		WHERE cl_cliente = #{userId}
	</update>
	<delete id="remove" parameterType="clientDTO">
		UPDATE c_cliente SET status = '0' WHERE cl_cliente = #{userId}
	</delete>
	<select id="getAllClient" resultMap="clientResultMap" >
		SELECT * FROM c_cliente WHERE status = '1' ORDER BY nombre
	</select>
	<select id="getCustomerByFilter" resultMap="clientResultMap" parameterType="customerFilter">
		SELECT * 
		FROM c_cliente 
		WHERE status = '1' 
		<if test="name != null and name != '' ">
			AND nombre LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="firstName != null and firstName != '' ">
			AND ap_paterno LIKE CONCAT('%',#{ap_paterno},'%')
		</if>
		<if test="lastName != null and lastName != '' ">
			AND ap_materno LIKE CONCAT('%',#{ap_materno},'%')
		</if>
		<if test="email != null and email != '' ">
			AND email LIKE CONCAT('%',#{email},'%')
		</if>
		ORDER BY nombre
	</select>
</mapper>