<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.com.proyect.puntoventa.web.dao.InventoryDAO">

	<resultMap id="itemResultMap" type="itemDTO">
		<result property="itemId" column="cl_articulo" />
		<result property="date" column="fecha_alta" />		
		<result property="description" column="descripcion" />
		<result property="unitMeasurement" column="unidad_medida" />
		<result property="amountEntry" column="cantidad_entrada" />
		<result property="amountOutput" column="cantidad_salida" />
		<result property="salePrice" column="precio_venta" />
		<result property="stock" column="cantidad_existente" />
		<result property="fgStatus" column="fg_estatus" />		
		<result property="storeDTO.storeId" column="cl_almacen" />
		<result property="storeDTO.description" column="ds_descripcion" />			
		<result property="color.colorId" column="color_id" />
		<result property="color.description" column="color_descripcion" />
		<result property="color.status" column="color_estatus" />
		<!-- sucursal -->
		<result property="officeDTO.officeId" column="cl_sucursal" />
		<result property="officeDTO.name" column="nombre_sucursal" />		
	</resultMap>
	
	<resultMap id="storeResultMap" type="storeDTO">
		<result property="storeId" column="cl_almacen" />
		<result property="description" column="ds_descripcion" />		
		<result property="fgStatus" column="fg_estatus" />		
	</resultMap>

	<select id="findByIdItem" resultMap="itemResultMap" parameterType="java.lang.Long">
		SELECT s.nombre AS nombre_sucursal, i.*, a.cl_almacen, a.ds_descripcion, c.cl_color AS color_id, c.ds_descripcion AS color_descripcion, c.fg_estatus AS color_estatus
		FROM c_articulo i 
		INNER JOIN c_almacen a ON (i.cl_almacen = a.cl_almacen)
		INNER JOIN c_color c ON (i.cl_color = c.cl_color)
		INNER JOIN c_sucursal s ON (i.cl_sucursal = s.cl_sucursal)
		WHERE cl_articulo = #{id}
	</select>
	
	
	<select id="getAllItems" resultMap="itemResultMap" parameterType="java.util.Map">
		SELECT s.nombre AS nombre_sucursal,i.*, a.cl_almacen, a.ds_descripcion, c.cl_color AS color_id, c.ds_descripcion AS color_descripcion, c.fg_estatus AS color_estatus
		FROM c_articulo i 
		INNER JOIN c_almacen a ON (i.cl_almacen = a.cl_almacen)
		INNER JOIN c_color c ON (i.cl_color = c.cl_color)
		INNER JOIN c_sucursal s ON (i.cl_sucursal = s.cl_sucursal)
		WHERE i.fg_estatus = '1' 
		<if	test="id != null and id != 0 ">
			AND i.cl_sucursal = #{id}			
		</if>
		
	</select>

	<insert id="addItem" parameterType="itemDTO">
		INSERT INTO c_articulo
		(cl_almacen,cl_color,cl_sucursal,descripcion,unidad_medida,cantidad_entrada,cantidad_salida,precio_venta,cantidad_existente)
		values
		(#{storeDTO.storeId},#{color.colorId},#{officeDTO.officeId},#{description},#{unitMeasurement},#{amountEntry},#{amountOutput},#{salePrice},#{stock})
	</insert>
	<update id="updateItem" parameterType="itemDTO">
		UPDATE c_articulo SET
		cl_almacen = #{storeDTO.storeId},
		cl_color = #{color.colorId},
		descripcion = #{description},
		unidad_medida = #{unitMeasurement},
		cantidad_entrada =	#{amountEntry},
		cantidad_salida = #{amountOutput},
		precio_venta = #{salePrice},
		cantidad_existente = #{stock}
		WHERE cl_articulo = #{itemId}
	</update>
	<delete id="deleteItem" parameterType="itemDTO">
		UPDATE c_articulo SET fg_estatus = '0' WHERE cl_articulo = #{itemId}
	</delete>
	
	<select id="getAllStore" resultMap="storeResultMap">
		SELECT * FROM c_almacen WHERE fg_estatus = '1'
	</select>
	
	<select id="getItemById" parameterType="java.lang.Integer" resultMap="itemResultMap">
		SELECT * FROM c_articulo WHERE cl_articulo = #{id}
	</select>
	
	<update id="decreaseStockByItemid" parameterType="java.util.Map">
		UPDATE c_articulo SET cantidad_existente = #{stock} WHERE cl_articulo = #{id}
	</update>
	
	<select id="getItemsByFilter" resultMap="itemResultMap" parameterType="saleNoteFilter">
		SELECT sucursal.nombre AS nombre_sucursal,articulo.*, almacen.ds_descripcion, color.ds_descripcion AS color_descripcion
		FROM c_articulo articulo
		INNER JOIN c_almacen almacen ON (almacen.cl_almacen = articulo.cl_almacen)
		INNER JOIN c_color color ON (color.cl_color = articulo.cl_color)
		INNER JOIN c_sucursal sucursal ON (articulo.cl_sucursal = sucursal.cl_sucursal)
		WHERE articulo.fg_estatus = '1'
		<if	test="iniDateFilter != null and endDateFilter != null and iniDateFilter != '' and endDateFilter != '' ">
			<![CDATA[ 
				AND articulo.fecha_alta >= CONCAT(#{iniDateFilter},' 000000') AND articulo.fecha_alta <= CONCAT(#{endDateFilter},' 235959')
			]]>				
		</if>
		<if test="descriptionFilter != null and descriptionFilter != '' ">
				AND articulo.descripcion LIKE CONCAT('%',#{descriptionFilter},'%')
		</if>
		<if test="storeIdFilter != null and storeIdFilter != '' ">
				AND articulo.cl_almacen = #{storeIdFilter}
		</if>
		<if test="colorIdFilter != null and colorIdFilter != '' ">
				AND articulo.cl_color = #{colorIdFilter}
		</if>
		ORDER BY articulo.fecha_alta DESC
	</select>
	
</mapper>