<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.com.proyect.puntoventa.web.dao.InventoryDAO">

	<resultMap id="itemResultMap" type="itemDTO">
		<result property="itemId" column="cl_articulo" />
		<result property="date" column="fecha_alta" />		
		<result property="description" column="descripcion" />
		<result property="unitMeasurement" column="unidad_medida" />
		<result property="amountEntry" column="cantidad_entrada" />
		<result property="amountOutput" column="cantidad_salida" />
		<result property="salePrice" column="precio_venta" />
		<result property="stock" column="cantidad_existente" />
		<result property="fgStatus" column="fg_estatus" />		
		<result property="storeDTO.storeId" column="cl_almacen" />
		<result property="storeDTO.description" column="ds_descripcion" />			
		<result property="color.colorId" column="color_id" />
		<result property="color.description" column="color_descripcion" />
		<result property="color.status" column="color_estatus" />			
	</resultMap>
	
	<resultMap id="storeResultMap" type="storeDTO">
		<result property="storeId" column="cl_almacen" />
		<result property="description" column="ds_descripcion" />		
		<result property="fgStatus" column="fg_estatus" />		
	</resultMap>

	<select id="findByIdItem" resultMap="itemResultMap" parameterType="long">
		SELECT i.*, a.cl_almacen, a.ds_descripcion, c.cl_color AS color_id, c.ds_descripcion AS color_descripcion, c.fg_estatus AS color_estatus
		FROM c_articulo i 
		INNER JOIN c_almacen a ON (i.cl_almacen = a.cl_almacen)
		INNER JOIN c_color c ON (i.cl_color = c.cl_color)
		WHERE cl_articulo = #{id}
	</select>
	
	
	<select id="getAllItems" resultMap="itemResultMap">
		SELECT i.*, a.cl_almacen, a.ds_descripcion, c.cl_color AS color_id, c.ds_descripcion AS color_descripcion, c.fg_estatus AS color_estatus
		FROM c_articulo i 
		INNER JOIN c_almacen a ON (i.cl_almacen = a.cl_almacen)
		INNER JOIN c_color c ON (i.cl_color = c.cl_color)
		WHERE i.fg_estatus = '1'
	</select>

	<insert id="addItem" parameterType="accountDTO">
		INSERT INTO c_articulo
		(cl_almacen,cl_color,descripcion,unidad_medida,cantidad_entrada,cantidad_salida,precio_venta,cantidad_existente)
		values
		(#{storeDTO.storeId},#{color.colorId},#{description},#{unitMeasurement},#{amountEntry},#{amountOutput},#{salePrice},#{stock})
	</insert>
	<update id="updateItem" parameterType="accountDTO">
		UPDATE c_articulo SET
		cl_almacen = #{storeDTO.storeId},
		cl_color = #{color.colorId},
		descripcion = #{description},
		unidad_medida = #{unitMeasurement},
		cantidad_entrada =	#{amountEntry},
		cantidad_salida = #{amountOutput},
		precio_venta = #{salePrice},
		cantidad_existente = #{stock},
		WHERE cl_articulo = #{itemId}
	</update>
	<delete id="deleteItem" parameterType="accountDTO">
		UPDATE c_articulo SET fg_estatus = '0' WHERE cl_articulo = #{itemId}
	</delete>
	
	<select id="getAllStore" resultMap="storeResultMap">
		SELECT * FROM c_almacen WHERE fg_estatus = '1'
	</select>
	
	<select id="getItemById" parameterType="java.lang.Integer" resultMap="itemResultMap">
		SELECT * FROM c_articulo WHERE cl_articulo = #{id}
	</select>
	
	<update id="decreaseStockByItemid" parameterType="java.util.Map">
		UPDATE c_articulo SET cantidad_existente = #{stock} WHERE cl_articulo = #{id}
	</update>
	
</mapper>