<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.com.proyect.puntoventa.web.dao.ProviderDAO">

	<resultMap id="accountResultMap" type="accountDTO">
		<result property="userId" column="cl_usuario" />		
		<result property="name" column="nombre" />
		<result property="firstName" column="ap_paterno" />
		<result property="secondName" column="ap_materno" />
		<result property="email" column="email" />
		<result property="password" column="password" />
		<result property="feAlta" column="fe_alta" />
		<result property="fgAdmin" column="fg_admin" />
		<result property="fgActivo" column="fg_activo" />
		<result property="job.jobId" column="puestoId" />
		<result property="job.description" column="descripcion_puesto" />
	</resultMap>
	
	<resultMap id="resultMapQueryDelivery" type="resultQueryDelivery">
		<result property="saleId" column="cl_entrega" />
		<result property="saleDate" column="fe_registro" />
		<result property="dateDelivery" column="fe_entrega" />
		<result property="description" column="ds_descripcion" />
		<result property="nameCustomer" column="nombre_cliente" />
		<result property="nameOffice" column="nombre_sucursal" />
		<result property="nameUser" column="nombre_usuario" />
		
		<result property="deliveryStatusDTO.statusId" column="cl_estatus_entrega" />
		<result property="deliveryStatusDTO.description" column="descripcion_estatus_entrega" />
		
		
	</resultMap>
	
	<resultMap type="deliveryDTO" id="resultMapDelivery">
		<result property="deliveryId" column="cl_entrega" />
		<result property="dateRegister" column="fe_registro" />
		<result property="dateDelivery" column="fe_entrega" />
		<!-- usuario -->
		<result property="account.userId" column="cl_usuario" />
		<result property="account.name" column="nombre_usuario" />
		<result property="account.firstName" column="ap_paterno_usuario" />
		<!-- sucursal -->
		<result property="office.officeId" column="cl_sucursal" />
		<result property="office.name" column="nombre_sucursal" />
		
<!-- 		<result property="status" column="cl_estatus_entrega" /> -->
		<result property="description" column="ds_descripcion" />
		
		<result property="deliveryStatusDTO.statusId" column="cl_estatus_entrega" />
		<result property="deliveryStatusDTO.description" column="descripcion_estatus_entrega" />
		
		<result property="store.storeId" column="cl_almacen" />
				
	</resultMap>
	
	<resultMap type="deliveryDetailDTO" id="resultMapDeliveryDetails">
		<result property="deliveryDetailId" column="cl_detalle_entrega" />
		<result property="deliveryId" column="cl_entrega" />
		<!-- articulo -->
		<result property="item.itemId" column="cl_articulo" />
		<result property="item.description" column="nombre_articulo" />
		<result property="item.salePrice" column="precio_articulo" />		
		<!-- color -->
<!-- 		<result property="color.colorId" column="cl_color" /> -->
<!-- 		<result property="color.description" column="nombre_color" />			 -->
		<result property="amount" column="cantidad" />		
	</resultMap>
	
	<resultMap type="deliveryStatusDTO" id="resultMapDeliveryStatus">
		<result property="statusId" column="cl_estatus_entrega" />
		<result property="description" column="ds_descripcion" />
	</resultMap>
	

	<!-- obtener de la tabla usuarios los que tengan como ROL PROVEEDOR -->
	<select id="getAllProvider" resultMap="accountResultMap">
		SELECT * FROM c_usuario WHERE fg_activo = '1' 
		AND cl_puesto = '4' ORDER BY nombre
	</select>
	
	<insert id="addDelivery" parameterType="deliveryDTO">
		<selectKey resultType="java.lang.Integer" keyProperty="deliveryId" order="AFTER">
			SELECT LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO c_entrega (
			cl_usuario,
			cl_sucursal,
			cl_almacen,
			cl_estatus_entrega,
			ds_descripcion
			)
		VALUES 
			(
				#{account.userId},
				#{office.officeId},
				#{store.storeId},
				#{status},
				#{description}
			)
	</insert>
	
	<insert id="addDeliveryDetails" parameterType="java.util.Map">
		INSERT INTO k_detalle_entrega 
			(
				cl_entrega,
				cl_articulo,
<!-- 				cl_color, -->
				cantidad
			)
		VALUES (
			#{deliveryId},
			#{itemId},
<!-- 			#{colorId}, -->
			#{amount}
		)
	</insert>
	
	
	<select id="getDeliveryByFilter" parameterType="saleNoteFilter"
		resultMap="resultMapQueryDelivery">
		SELECT v.cl_entrega,
		v.fe_registro,
		v.fe_entrega,
		v.ds_descripcion,
		s.nombre AS	nombre_sucursal,
		v.cl_estatus_entrega,
		estatus_entrega.ds_descripcion AS descripcion_estatus_entrega,
		CONCAT(u.nombre,' ',u.ap_paterno) AS nombre_usuario
		FROM c_entrega v		
		INNER JOIN c_sucursal s ON (v.cl_sucursal = s.cl_sucursal)
		INNER JOIN c_usuario u ON (v.cl_usuario = u.cl_usuario)
		INNER JOIN c_estatus_entrega estatus_entrega ON (v.cl_estatus_entrega = estatus_entrega.cl_estatus_entrega)
		<!-- Solo traera las entregas del usuario logueado -->
<!-- 		WHERE v.cl_usuario = #{userId} -->
		<where>
			<if	test="userId != null and userId != '' ">
				AND v.cl_usuario = #{userId}						
			</if>
			<if	test="iniDateFilter != null and endDateFilter != null and iniDateFilter != '' and endDateFilter != '' ">
			<![CDATA[ 
				AND v.fe_entrega >= CONCAT(#{iniDateFilter},' 000000') AND v.fe_entrega <= CONCAT(#{endDateFilter},' 235959')
			]]>				
			</if>
			<if test="descriptionFilter != null and descriptionFilter != '' ">
				AND v.ds_descripcion LIKE CONCAT('%',#{descriptionFilter},'%')
			</if>
			<if test="officeIdFilter != 0 ">
				AND v.cl_sucursal IN (#{officeIdFilter})
			</if>
			<if test="customerNameFilter != null and customerNameFilter != '' ">
				AND CONCAT(u.nombre,' ',u.ap_paterno) LIKE	CONCAT('%',#{customerNameFilter},'%')
			</if>
		</where>
	</select>
	
	<select id="getDeliveryById" parameterType="java.lang.Integer" resultMap="resultMapDelivery">
		SELECT e.*, 
		u.nombre as nombre_usuario,
		u.ap_paterno AS ap_paterno_usuario,
		s.nombre AS nombre_sucursal,
		estatus_entrega.ds_descripcion AS descripcion_estatus_entrega
		FROM c_entrega e
		INNER JOIN c_usuario u ON (e.cl_usuario = u.cl_usuario)
		INNER JOIN c_sucursal s ON (e.cl_sucursal = s.cl_sucursal)
		INNER JOIN c_almacen almacen ON (e.cl_almacen = almacen.cl_almacen)
		INNER JOIN c_estatus_entrega estatus_entrega ON (e.cl_estatus_entrega = estatus_entrega.cl_estatus_entrega)
		WHERE e.cl_entrega = #{id}
	</select>
	
	<select id="getDeliveryDetailsById" parameterType="java.lang.Integer" resultMap="resultMapDeliveryDetails">
		SELECT de.*, 
		a.descripcion AS nombre_articulo,
		a.precio_venta AS precio_articulo
<!-- 		c.ds_descripcion AS nombre_color		 -->
		FROM k_detalle_entrega de
		INNER JOIN c_articulo a ON (de.cl_articulo = a.cl_articulo)
<!-- 		INNER JOIN c_color c ON (de.cl_color = c.cl_color) -->
		WHERE de.cl_entrega = #{id}
	</select>
	
	<update id="cambiarEstatusEntrega" parameterType="deliveryDTO">
		UPDATE c_entrega
		SET fe_autorizacion = #{fechaAutorizado},
		cl_estatus_entrega = #{deliveryStatusDTO.statusId}
		WHERE cl_entrega = #{deliveryId}
	</update>

	<select id="obtenerEstatusEntrega" resultMap="resultMapDeliveryStatus">
		SELECT * FROM c_estatus_entrega
	</select>

</mapper>