<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.com.proyect.puntoventa.web.dao.OfficeDAO">

<!-- 	<resultMap id="saleNoteResultMap" type="saleNoteForm">		 -->
<!-- 		<result property="officeId" column="cl_sucursal" /> -->
<!-- 		<result property="name" column="nombre" /> -->
<!-- 		<result property="street" column="calle" /> -->
<!-- 		<result property="cp" column="CP" /> -->
<!-- 		<result property="colony" column="colonia" /> -->
<!-- 		<result property="municipality" column="municipio" /> -->
<!-- 		<result property="state" column="estado" /> -->
<!-- 		<result property="tel1" column="t_fijo" /> -->
<!-- 		<result property="tel2" column="t_secundario" /> -->
<!-- 	</resultMap> -->

	<insert id="addSaleNote" parameterType="saleNoteForm">
	 <selectKey resultType="java.lang.Integer" keyProperty="saleId" order="AFTER" >
  		SELECT LAST_INSERT_ID() as id
	 </selectKey>
		INSERT INTO c_venta
		(cl_cliente,cl_usuario,cl_sucursal,fe_registro)
		VALUES
		(#{userId},#{sellerId},#{storeId},#{dateTimestamp})
	</insert>
	
	<insert id="addSaleNoteDetails" parameterType="java.util.Map" >		
   		INSERT INTO k_detalle_venta (cl_venta,cl_articulo,cantidad) 
   		VALUES (#{saleId},#{itemId},#{amount})    	
	</insert>
	
</mapper>