<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.com.proyect.puntoventa.web.dao.OfficeDAO">

	<resultMap id="resultMapQuerySaleNote" type="resultQuerySaleNote">		
		<result property="saleId" column="cl_venta" />
		<result property="saleDate" column="fe_registro" />
		<result property="dateDelivery" column="fe_entrega" />
		<result property="description" column="ds_descripcion" />
		<result property="nameCustomer" column="nombre_cliente" />
		<result property="nameOffice" column="nombre_sucursal" />
		<result property="nameUser" column="nombre_usuario" />		
	</resultMap>

	<insert id="addSaleNote" parameterType="saleNoteForm">
	 <selectKey resultType="java.lang.Integer" keyProperty="saleId" order="AFTER" >
  		SELECT LAST_INSERT_ID() as id
	 </selectKey>
		INSERT INTO c_venta
		(cl_cliente,cl_usuario,cl_sucursal,fe_entrega)
		VALUES
		(#{userId},#{sellerId},#{storeId},#{dateTimestamp})
	</insert>
	
	<insert id="addSaleNoteDetails" parameterType="java.util.Map" >		
   		INSERT INTO k_detalle_venta (cl_venta,cl_articulo,cantidad) 
   		VALUES (#{saleId},#{itemId},#{amount})    	
	</insert>
	<select id="getSaleNoteByFilter" parameterType="saleNoteFilter" resultMap="resultMapQuerySaleNote">
		SELECT v.cl_venta,v.fe_registro,v.fe_entrega,v.ds_descripcion,
		CONCAT(c.nombre,' ',c.ap_paterno) AS nombre_cliente, s.nombre AS nombre_sucursal, 
		CONCAT(u.nombre,' ',u.ap_paterno) AS nombre_usuario
		FROM c_venta v 
		INNER JOIN c_cliente c ON (v.cl_cliente = c.cl_cliente) 
		INNER JOIN c_sucursal s ON (v.cl_sucursal = s.cl_sucursal)
		INNER JOIN c_usuario u ON (v.cl_usuario = u.cl_usuario)
		<where>
			<if test="iniDateFilter != null and endDateFilter != null and iniDateFilter != '' and endDateFilter != '' ">
		        AND (v.fe_entrega BETWEEN STR_TO_DATE(#{iniDateFilter},'%d/%m/%Y') AND STR_TO_DATE(CONCAT(#{endDateFilter}, ' 235959'),'%d/%m/%Y %H%i%s') )
		    </if>
		    <if test="descriptionFilter != null and descriptionFilter != '' ">
		    	AND v.ds_descripcion LIKE CONCAT('%',#{descriptionFilter},'%')
		    </if>
		    <if test="officeIdFilter != null and officeIdFilter != '' and officeIdFilter != '0' ">
		    	AND v.cl_sucursal IN (#{officeIdFilter})
		    </if>
		    <if test="customerNameFilter != null and customerNameFilter != '' ">
		     	AND CONCAT(u.nombre,' ',u.ap_paterno) LIKE CONCAT('%',#{customerNameFilter},'%')
		    </if>    
		</where>
	</select>
	
</mapper>