<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- cometario 2017.05.10 -->
<configuration>
	<settings>

		<setting name="logImpl" value="LOG4J" />

	</settings>
	<typeAliases>

		<!-- Declaracion de los bean de tipos de datos de entrada y del manejador. -->

		
		
		<typeAlias alias="accountDTO" type="mx.com.proyect.puntoventa.web.model.AccountDTO" />
		<typeAlias alias="loginForm" type="mx.com.proyect.puntoventa.web.forms.LoginForm" />
		
	
		
		
	
		

	</typeAliases>
	

</configuration>