<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- cometario 2017.05.10 -->
<configuration>
	<settings>

		<setting name="logImpl" value="LOG4J" />

	</settings>
	<typeAliases>

		<!-- Declaracion de los bean de tipos de datos de entrada y del manejador. -->

		
		
		<typeAlias alias="accountDTO" type="mx.com.proyect.puntoventa.web.model.AccountDTO" />
		<typeAlias alias="loginForm" type="mx.com.proyect.puntoventa.web.forms.LoginForm" />
		<typeAlias alias="clientDTO" type="mx.com.proyect.puntoventa.web.model.AccountDTOclient" />
		<typeAlias alias="itemDTO"   type="mx.com.proyect.puntoventa.web.model.ItemDTO" />
		<typeAlias alias="storeDTO"   type="mx.com.proyect.puntoventa.web.model.StoreDTO" />
		<typeAlias alias="officeDTO"   type="mx.com.proyect.puntoventa.web.model.OfficeDTO" />
		<typeAlias alias="colorDTO"   type="mx.com.proyect.puntoventa.web.model.ColorDTO" />

		<typeAlias alias="providerDTO" type="mx.com.proyect.puntoventa.web.model.ProviderDTO" />
		<typeAlias alias="jobDTO"   type="mx.com.proyect.puntoventa.web.model.JobDTO" />
		<typeAlias alias="saleNoteForm"   type="mx.com.proyect.puntoventa.web.forms.SaleNoteForm" />
		
		<typeAlias alias="resultQuerySaleNote"   type="mx.com.proyect.puntoventa.web.resultsQuerys.ResultQuerySaleNote" />
		<typeAlias alias="saleNoteFilter"   type="mx.com.proyect.puntoventa.web.forms.SaleNoteFilter" />		
	
		

	</typeAliases>
	

</configuration>